# Hướng dẫn: Copy file này thành file .env hoặc thêm các biến này vào Environment Variables của IDE
# Các thông tin SMTP lấy từ tài khoản Brevo của team

# SPRING_MAIL_USERNAME đã được cấu hình trong application.properties
SPRING_MAIL_PASSWORD=

JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
AUTH_VERIFY_BASE_URL=http://localhost:8081/api/v1/auth
